{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "prefer-destructuring": [
            "error",
            {
                "object": true,
                "array": false
            }
        ],
        "no-param-reassign": "off",
        "no-unused-vars": "warn"
    }
}
